<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.ndpete.alfred-gcloud-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>000D23FC-36F4-43E7-A7E2-D5D68530B910</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EFB9247-E484-4AB4-833C-0CDB249CCB39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25FCFA7D-406D-42A9-891E-E0A1217EF73C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F317AB-1200-45A6-BAEC-AB0E66199A68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AAFB223-E52D-4431-8433-D465587BA9F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA7E2376-7253-4159-82ED-25A446B1801F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EFB9247-E484-4AB4-833C-0CDB249CCB39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25FCFA7D-406D-42A9-891E-E0A1217EF73C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>775A345A-5AA8-4054-9A1A-58FFD59936F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AAFB223-E52D-4431-8433-D465587BA9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nathan Peterson</string>
	<key>description</key>
	<string>gcloud shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Cloud Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ "${project}" == "cmd:update" ]]; then
	/usr/bin/python3 -c "from src.updater import download_and_install_update; download_and_install_update()"
	exit 0
fi

if [[ "${project}" =~ ^https?:// ]]; then
	open "${project}"
	exit 0
fi

/usr/bin/python3 -m src.products -query "$1" -project "${project}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25FCFA7D-406D-42A9-891E-E0A1217EF73C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hotkey}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 -m src.projects "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>000D23FC-36F4-43E7-A7E2-D5D68530B910</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>69F317AB-1200-45A6-BAEC-AB0E66199A68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6EFB9247-E484-4AB4-833C-0CDB249CCB39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refresh done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FA7E2376-7253-4159-82ED-25A446B1801F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 -m src.sync</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AAFB223-E52D-4431-8433-D465587BA9F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:hotkey}-refresh</string>
				<key>subtext</key>
				<string>Update projects list</string>
				<key>text</key>
				<string>Refresh Google projects</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>775A345A-5AA8-4054-9A1A-58FFD59936F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Shortcuts to known GCP products.

Default hotkey for using is `g &lt;query&gt;`.

First-time use:
Run `g-refresh` which will update the cache of projects</string>
	<key>uidata</key>
	<dict>
		<key>000D23FC-36F4-43E7-A7E2-D5D68530B910</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>25FCFA7D-406D-42A9-891E-E0A1217EF73C</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>2AAFB223-E52D-4431-8433-D465587BA9F5</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>69F317AB-1200-45A6-BAEC-AB0E66199A68</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>6EFB9247-E484-4AB4-833C-0CDB249CCB39</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>775A345A-5AA8-4054-9A1A-58FFD59936F7</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>FA7E2376-7253-4159-82ED-25A446B1801F</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>authuser</key>
		<string></string>
		<key>hotkey</key>
		<string>g</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>authuser</string>
	</array>
	<!-- x-release-please-start-version -->
	<key>version</key>
	<string>0.1.0</string>
	<!-- x-release-please-end -->
	<key>webaddress</key>
	<string>https://github.com/ndpete/alfred-gcloud-workflow</string>
</dict>
</plist>
